<footer>
  <p>
    Built by <span><a href="/">Jenn</a></span>
  </p>
</footer>

<style lang="scss">
  footer {
    display: flex;
    justify-content: flex-end;
    background-color: #000;
    color: #fff;
    padding: 1rem 0;
    text-align: left;
    font-size: 0.8rem;
    padding: 2rem;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
