---
import { Icon } from "astro-icon";
import { t } from "i18next";

// Data
const blog = t("index.blog", { returnObjects: true }) as any;
---

<section id="blog-section">
  <div class="container">
    <div class="card blog mouse-cursor-gradient-tracking">
      <!-- Introduction to my blog -->
      <div>
        <p>
          <span>{blog.title}</span>
          {blog.content}
        </p>

        <div>
          <a class="style-line-bottom" href={blog.url} target="_blank">
            {blog.action}
            <Icon name="fa-solid:arrow-right" width="12" />
          </a>
        </div>
      </div>
      <!-- Image Blog -->
      <div class="img-blog">
        <img
          src={"/src/assets/img/blog.png" || "https://via.placeholder.com/400x300"}
          alt="Blog medium Jenniffer Tenempaguyay"
        />
        <!-- https://via.placeholder.com/400x300 -->
      </div>
    </div>
  </div>
</section>

<script>
  import eventGradientTracking from "src/assets/js/mouse_cursor_gradient_tracking.js";
  eventGradientTracking(document);
</script>

<style lang="scss">
  @use "../../assets/scss/base/_breakpoint" as *;
  @use "../../assets/scss/base/_mixins" as *;
  section#blog-section {
    .blog {
      margin-bottom: var(--base-size-48);
      @include flex-column();

      @include breakpoint(medium or large) {
        @include flex-row();
      }

      > div {
        flex: 1;
        @include flex-column();
        padding: var(--base-size-48);
        // background-color: white;

        > p {
          // background-color: white;
          font-weight: var(--base-text-weight-medium) !important;
          color: #848d97;

          > span {
            color: #e7eef3;
          }
        }
      }

      .img-blog {
        padding: 0;
        img {
          width: 100%;
          // height: auto;
          border-radius: var(--base-size-16);
        }
      }
    }
  }
</style>
