---
import Findmein from "@components/Findmein.astro";
---

<footer>
  <div class="container">
    <div>
      <p>Built by <span><a href="/">Jenn</a></span></p>
      <p>© 2023 All rights reserved.</p>
    </div>
    <Findmein class="footer-logos" />
  </div>
</footer>

<style lang="scss" scoped>
  @use "../../assets/scss/base/_mixins" as *;

  footer {
    background-color: rgba(#e7eef3, 0.05);
    color: #fff;
    text-align: left;

    font-size: var(--base-size-12);
    padding: 1.5rem 0;

    > div {
      @include flex-row();
      align-items: center;

      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
</style>
