---
import Findmein from "@components/Findmein.astro";

const { data } = Astro.props;
---

<footer>
  <div class="container">
    <div>
      <p>{data.developer} <span><a>{data.user}</a></span></p>
    </div>
    <Findmein class="footer-logos" />
  </div>
</footer>

<style lang="scss" scoped>
  @use "../../assets/scss/base/_mixins" as *;

  footer {
    background-color: rgba(#e7eef3, 0.05);
    color: #fff;
    text-align: left;

    font-size: var(--base-size-16);
    padding: 1.5rem 0;

    > div {
      @include flex-row();
      align-items: center;

      span {
        font-weight: 400;
        color: #fff;
      }
    }
  }
</style>
