---
import Findmein from "@components/Findmein.astro";
---

<footer>
  <div class="container">
    <div>
      <p>Built by <span><a href="/">Jenn</a></span></p>
      <p>© 2023 All rights reserved.</p>
    </div>
    <Findmein class="footer-logos" />
  </div>
</footer>

<style lang="scss" scoped>
  footer {
    background-color: #222833;
    color: #fff;
    text-align: left;

    font-size: 0.8rem;
    padding: 1.5rem 0;

    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
</style>
