---
import Findmein from "@components/Findmein.astro";
import { t } from "i18next";

// Data
const data = t("index.about", { returnObjects: true }) as any;
---

<section class="hero">
  <div class="container grid">
    <div>
      <h1><span>{data.title}</span></h1>
      <h2><span>{data.subtitle}</span></h2>
      <p style="--d: 0s">{data.description}</p>
      <Findmein />
    </div>
    <div class="img-hero">
      <img src="/img/illustration.png" alt="jenntenem" />
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../assets/scss/base/_breakpoint" as *;
  @use "../../assets/scss/base/_mixins" as *;

  section.hero {
    // display: block;
    height: 100vh;
    top: 0;
    @include flex-column(center);
    align-items: center;

    .grid {
      & > div {
        @include flex-column(center);
        margin-top: 25%;

        &.img-hero {
          justify-content: center;
          align-items: center;
          margin-top: 0%;
        }
      }

      @include breakpoint(medium or large) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      @include max-breakpoint(medium) {
        @include flex-column(center);
      }
    }
    img {
      width: 100%;

      @include max-breakpoint(medium) {
        width: 80%;
      }
    }

    h1 {
      color: #9ca1a7;
      letter-spacing: 2px;
      display: inline;
      font-size: var(--base-size-16);
      font-weight: var(--base-text-weight-light);
      line-height: 2.5;
      margin: 0px;

      span {
        background-color: #222a37;
        padding: 0.3rem 0.5rem;
      }
    }

    h2 {
      margin: 0px;
      font-size: var(--base-size-64) !important;
      font-weight: var(--base-text-weight-semibold) !important;
      line-height: var(--base-size-64) !important;

      span {
        font-size: 1em !important;
      }
    }

    p {
      color: #8490a4;
      font-size: var(--base-size-24);
      font-weight: var(--base-text-weight-light);
      line-height: 1.5;
      margin: 20px 0px;

      opacity: 0;
      animation: reveal 0.5s forwards 0.15s;
    }

    @keyframes reveal {
      from {
        transform: translateY(var(--base-size-20));
      }
      to {
        opacity: 1;
        transform: none;
        z-index: -1;
      }
    }
  }
</style>
