---
import { Icon } from "astro-icon";
import { t } from "i18next";

// Data
const data = t("index.knowledge", { returnObjects: true }) as any;
---

<section>
  <div class="container">
    <h2>{data.title}</h2>
    <div class="skills">
      {
        data.content.map((skill) => {
          return (
            <div class="skill">
              <span>
                <Icon
                  name={skill.icon}
                  width="80px"
                />
              </span>
              <span class="name">{skill.name}</span>
            </div>
          );
        })
      }
    </div>
  </div>
</section>

<style lang="scss">
  section {
    padding: var(--base-size-16);

    div.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // gap: var(--base-size-16); // OJO

      .skills {
        flex: 2.5;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: var(--base-size-16);
        margin: 1rem 0;

        > .skill {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: var(--base-size-8);
          // width: 100px;
          // height: 100px;
          //   border-radius: 10px;
          padding: var(--base-size-8);
          // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

          > .name {
            font-size: var(--base-size-12);
            font-weight: var(--base-text-weight-normal);
            text-align: center;
          }

          &:hover {
            transform: scale(1.1);
            transition: transform 0.3s;
            filter: drop-shadow(0 0 10px rgba(#39d353, 0.15));
          }
        }
      }
    }
  }
</style>
