---
import { Icon } from "astro-icon";

// Data
const projects= [
  {
    title: "Project 1",
    description: "This is a project I worked on.",
    image: "https://via.placeholder.com/300x200",
    link: "https://google.com",
    content:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti repudiandae animi.",
  },
  {
    title: "Project 2",
    description: "This is a project I worked on.",
    image: "https://via.placeholder.com/300x200",
    link: "https://google.com",
    content:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti repudiandae animi.",
  },
  {
    title: "Project 3",
    description: "This is a project I worked on.",
    image: "https://via.placeholder.com/300x200",
    link: "https://google.com",
    content:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti repudiandae animi.",
  },
];
---

<section>
  <div class="container">
    <h2>Projects</h2>
    <p>Here are some of the projects I've worked on.</p>
    <div class="projects">
      {
        projects.map((project) => {
          return (
            <div class="project">
              <h3>{project.title}</h3>
              <p>{project.content}</p>

              <div class="btn-project">
                <button class="btn">
                  <Icon name="mdi:github" class="icon" />
                </button>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</section>

<style lang="scss">
  section {
    margin: 4rem 0;
    gap: 2rem;

    div.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.25rem;
    }
    .projects {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;

      > div.project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        gap: 1.2rem;
        border-radius: 1rem;
        position: relative;
        border: 1px solid rgba(#e7eef3, 0.15);
        background-color: rgba(#e7eef3, 0.05);

        h3 {
          font-size: 1.5rem;
          font-weight: var(--base-text-weight-light);
          color: #39d353;
        }

        .btn-project {
          display: flex;
          flex-direction: row;
          align-items: left;
          justify-content: center;

          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            background-color: transparent;
            position: relative;
            transition: 0.2s linear;

            .icon {
              color: #39d353;
              transition: 0.2s linear;
            }

            &:hover > .icon {
              transform: scale(1.2);
            }

            &:after {
              content: "";

              position: absolute;
              color: white;

              opacity: 0;
              visibility: hidden;
              transition: 0.2s linear;
            }
          }
        }
      }
    }
  }
</style>
