@mixin flex-row($justify: space-between) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
}

@mixin flex-column($justify: space-between) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
}
