// Icons
$social-medias: (
  twitter: (
    default: (
      color: #f3f6fb,
    ),
    hover: (
      color: #1da1f2,
    ),
  ),
  github: (
    default: (
      color: #f3f6fb,
    ),
    hover: (
      color: #0366d6,
    ),
  ),
  gitlab: (
    default: (
      color: #f3f6fb,
    ),
    hover: (
      color: #fc6d26,
    ),
  ),
  instagram: (
    default: (
      color: #f3f6fb,
    ),
    hover: (
      color: #e4405f,
    ),
  ),
  linkedin: (
    default: (
      color: #f3f6fb,
    ),
    hover: (
      color: #0077b5,
    ),
  ),
);

// Social media icons classes
@mixin social-media-icon($social-medias) {
  @each $social-media, $values in $social-medias {
    $default: map-get($values, default);
    $hover: map-get($values, hover);

    .#{$social-media} {
      @each $property, $value in $default {
        #{$property}: $value;
      }

      &:hover,
      &:focus,
      &:active {
        @each $property, $value in $hover {
          #{$property}: $value;
        }
      }

      &:visited {
        @each $property, $value in $default {
          #{$property}: $value;
        }
      }
    }
  }
}
