// CARD STYLES
.card {
  border-radius: var(--base-size-32);
  // position: relative;
  border: 1px solid rgba(#e7eef3, 0.15);
  background-color: rgba(#e7eef3, 0.05);
}

// GRADIENT HOVER EFFECT OVER CARDS
.mouse-cursor-gradient-tracking {
  // position: relative;
  // border: none;
  // cursor: pointer;
  // outline: none;
  overflow: hidden;
  // pointer-events: none;

  &::before {
    --size: 0;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(
      circle closest-side,
      rgba(#39d353, 0.3),
      transparent
    );
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }

  &:hover::before {
    --size: 500px;
  }

  img {
    overflow: hidden;
    z-index: -1 !important;
  }
}

/*[data-target="card-skew.shine"] {
    width: 650px;
    height: 650px;
    background-color: var(--mktg-accent-primary);
    filter: blur(180px);
    border-radius: 300px;
    opacity: 0;
    transition: opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1);
    mix-blend-mode: soft-light;
    will-change: transform;
}*/
