---
import i18next from "i18next";

// Layouts
import DefaultLayout from "../layouts/DefaultLayout.astro";

// return i18next.language == "en"
//   ? Astro.redirect("/")
//   : Astro.redirect(`/${i18next.language}`);
---

<DefaultLayout>
  <h1>404</h1>
  <p>Page not found :(.</p>
</DefaultLayout>
