---
import i18next, { t } from "i18next";

// Global SCSS
import "../assets/scss/main.scss";

// Components
import Header from "@landing/Header.astro";
import Footer from "@landing/Footer.astro";

// Props
interface Props {
  title?: string;
}

const site = t("site", { returnObjects: true });
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="My Portfolio @jenntenem" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>site.title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Palanquin:wght@100;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
